%tr
  %td
    = link_to(image_tag('analyzer-icon.png'), admin_subcategory_path(subcategory), remote: true, title: 'Analyze subcategory')
    = subcategory.name
  %td= subcategory.description
  %td= subcategory.category.name
  %td
    = link_to(image_tag('info.png'), admin_subcategory_path(subcategory), remote: true, title: 'Show info')
    |
    = link_to(image_tag('edit.png'), edit_admin_subcategory_path(subcategory), remote: true, title: 'Edit subcategory')
    | 
    = link_to(image_tag('delete.png'), admin_subcategory_path(subcategory), method: :delete, data: { confirm: "Are you sure to delete company: #{subcategory.name} ?" }, remote: true, class: "destroy", title: 'Delete subcategory!')