-provide(:title, 'Zaloguj się')

%fieldset
  %legend
    Zaloguj się
  = form_for(:session, url: login_path) do |f|
    .field
      = f.label :email
      = f.email_field :email

    .field
      = f.label :password, "Hasło"
      = f.password_field :password

    .field
      = f.label :remember_me, "Zapamiętaj mnie na tym komputerze"
      = f.check_box :remember_me
    %br

    .action
      = f.submit "Zaloguj", class: "btn btn-primary"
  %p
    Nowy użytkownik? 
    = link_to "Zapisz się!", signup_path