
%script type="text/javascript"

:javascript
  $(document).on('page:fetch', function() {
    alert("It works on each visit!")
  })

  $('document').ready(function(){

    $('.tooltip').hide();
    $('.expiry-date-current-month').mouseover(function(){
      var $this=$(this);
      var tip = $($this).attr('id');
      var $tip = $($this.attr('id'));

      var ttleft;
      var ttTop;
      var triggerPos = $this.offset();
      var triggerH = $this.outerHeight();
      var triggerW = $this.outerWidth();
      var tipW = $("div[id=" + tip + "]").outerWidth();
      var tipH = $("div[id=" + tip + "]").outerHeight();
      var screenW = $(window).width();
      var scrollTop = $(document).scrollTop();
      if (triggerPos.top - tipH - scrollTop > 0 ) {
        ttTop = triggerPos.top - tipH - 10;
      } else {
        ttTop = triggerPos.top + triggerH + 10 ;
      }
      var overFlowRight = (triggerPos.left + tipW) - screenW;
      if (overFlowRight > 0) {
        ttLeft = triggerPos.left - overFlowRight - 10;
      } else {
        ttLeft = triggerPos.left;
      }
      $("div[id=" + tip + "]").css({
        left: ttLeft, top: ttTop, position: 'absolute'
      }).fadeIn(200);
    });// End mouseover function
    $('.expiry-date-current-month').mouseout(function () {
      $('.tooltip').fadeOut(200);
    }); // koniec funkcji mouseout
  });
- tab_month = (tablica_miesiaca(@time_now))
%hr
%section#left
  .calendar-container
    %header
      .day
        - t = Time.now
        = t.day
      
      .month
        = data_month(@time_now.month)
      
    %table.calendar
      %thead.calendar_header
        %tr
          %td{colspan: "7"}
        %tr.calendar
          %td Pon
          %td Wto
          %td Sro
          %td Czw
          %td Pia
          %td.weekend-day Sob
          %td.weekend-day Nie
      %tbody.calendar_tbody
      - string = tablica_miesiaca(@time_now)
      - string.shift
      - i = 0
      - string.each do |dzien|
        - if i == 0
          %tr
        - tab_day = dzien.split('|')
        /#########################################################################################################
        /# Place where i change options to display
        - tooltip = 0
        - @info_tooltip
        - @points = []
        - @time_to_display = @time_now
        - c = Calendar.where(month: @month)
        - c.each do |cal|
          - @points << cal.day
        /#########################################################################################################
        - if (@points.include?(tab_day[0].to_i) && tab_day[1] != "prev-month" && tab_day[1] !="next-month")
          %td{class: "expiry-date-current-month", :id => "tip#{tab_day[0]}"}
            = tab_day[0]
        - elsif ((i >= 5) && ((tab_day[1] != "prev-month") && (tab_day[1] != "next-month")))
          %td.weekend-day
            = tab_day[0]
        - else
          %td{class: "#{tab_day[1]}"}
            = tab_day[0]
        - i += 1
        - if i == 7
          - i = 0
    %div.ring-left
      = link_to("Previous month", calendar_index_path(:month => 'prev'), remote: true)
    %div.ring-right
      = link_to("Next month", calendar_index_path(:month => 'next'), remote: true)

%section#right
  .calendar-container-side
    %header.previous
      - @points = []
      - @time_to_display = @time_now.months_ago(1);
      - c = Calendar.where(month: @month-1)
      - c.each do |cal|
        - @points << cal.day
      .month= data_month(@time_to_display.month)
    =render 'shared/callendar', time_to_display: @time_to_display
    %header.next
      - @points = []
      - @time_to_display = @time_now.months_since(1)
      - c = Calendar.where(month: @month+1)
      - c.each do |cal|
        - @points << cal.day
      .month= data_month(@time_to_display.month)
    =render 'shared/callendar', time_to_display: @time_to_display
%hr
%section.description
  -if @date_to_show then
    %div.month_description
      %table
        %thead
          Products in this month:
          %tr
            %th Product name:
            %th Part number:
            %th Date of Expiry:
            %th Action
        %tbody
        - @date_to_show.each do |datas|
          %tr
            %td
              =datas.product.name
            %td
              =datas.part_number
            %td
              =datas.date_expiry
            %td
              Delete | Edit
          %tr
  -else
    %div.month_description
%hr
%br
%br
%br
%br

/@info_tooltip = Admin::Product.where(Calendar.find_by_day(tab_day[0]).info).name
/Tworze tablice z rekordami danego dnia o ile istieja
-if @date_to_show then
  - (1..31).each do |i|
    - unless(Calendar.where(day: i, month: @month).blank?) then
      /.item{:id => "item#{item.id}"}= item.body
      %div{id: "tip#{i}", class: "tooltip"}
        -Calendar.where(day: i, month: @month).each do |item|
        
          = "Dla dnia #{i} product: #{Admin::Product.find(item.info).name}"
          %br
