-provide title: @title
%h3
  = @title
  =@size
=render partial: 'shared/search'
%dl#products
  = will_paginate @products
  - @products.each do |product|
    %dt
      %h3.description
        = link_to "#{product.name}", catalog_show_path(product.id, page: params[:page])
      %dd= product.company.name
      %dd= product.category.name
      %dd= product.subcategory.name
      %dd
        %small= "#{sprintf("%.2f", product.price)} pln"
      -unless product.image.nil? then
        = link_to(image_tag(product.image.url), catalog_show_path(product.id, page: params[:page]))     
      -unless product.description == "" then
        = textilize(product.description)
  =will_paginate @products
%br

%br
%br
%br
