%h1.catalog= @title
%h2.catalog= @category.name
= image_tag(@product.image)
%dl#catalog_show
  %dt
    %b Cena:
  %dd= sprintf("%0.2f", @product.price) + " pln"
  %dt
    %b Firma:
  %dd= @company.name
  %dt Opis produktu:
  %dd= textilize @product.description
%hr
%p
  = link_to 'Powrot', :back
