= form_for(@admin_product, company_id: @company_id, authenticity_token: true, remote: true) do |f|
  - if @admin_product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_product.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @admin_product.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    /= f.label :company, "#{Admin::Company.find(@company_id).name}"
    = f.hidden_field :company_id, value: @company_id
  .field
    = f.label :category
    = f.collection_select(:category_id, Admin::Category.all, :id, :name)
  .field
    = f.label :subcategory
    = f.collection_select(:subcategory_id, Admin::SubCategory.all, :id, :name)
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :discount
    = f.number_field :discount
    /= f.number_field :category_id
  .field
    = f.label :picture, "Wybierz obraz"
    = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'
  .action
    = f.submit