%h3.description= @admin_product.name
%table.show
  %tr
    %th Name
    %th Company
    %th Category
    %th Subcategory
    %th Price
  %tr
    %td= @admin_product.name
    %td= @admin_product.company.name
    %td= @admin_product.category.name
    %td= @admin_product.subcategory.name
    %td= @admin_product.price
-unless @admin_product.image.nil? then
  = image_tag @admin_product.image.url      
-unless @admin_product.description == "" then
  = textilize(@admin_product.description)
-else
  Brak opisu.
  %tr
%hr
= link_to 'Back', admin_products_path, remote: true, class: "action" |
= link_to 'Edit', edit_admin_product_path(@admin_product), remote: true, class: "action"
