%p
  %b Product:
  = Admin::Product.find(@expiry_date.product_id).name
%p
  %b Part number:
  = @expiry_date.part_number
%p
  %b Count:
  = @expiry_date.count
%p
  %b Date added:
  = @expiry_date.date_added.strftime("%Y-%d-%m")
%p
  %b Date expiry:
  = @expiry_date.date_expiry.strftime("%Y-%d-%m")

= link_to 'Edit', edit_expiry_date_path(@expiry_date), remote: true
\|
= link_to 'Back', expiry_dates_path, remote: true
